In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

In [16]:
import pandas as pd

max_results_per_city = 10

city_set = ['New+York','Chicago','San+Francisco', 'Austin', 'Seattle', 'Los+Angeles']
columns = ["city","job_title", "company_name", "location"]
sample_df = pd.DataFrame(columns = columns)

In [17]:
sample_df

Empty DataFrame
Columns: [city, job_title, company_name, location]
Index: []

In [18]:
#scraping code:
for city in city_set:
    
    for start in range(0, max_results_per_city, 10):
        
        page = requests.get('http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=' + str(city) + '&start=' + str(start))
        time.sleep(1)  #ensuring at least 1 second between page grabs
        
        soup = BeautifulSoup(page.text, "lxml", from_encoding="utf-8")
        
        for div in soup.find_all(name="div", attrs={"class":"row"}): 
            #specifying row num for index of job posting in dataframe
            num = (len(sample_df) + 1) 
            
            #creating an empty list to hold the data for each posting
            job_post = [] 
            
            #append city name
            job_post.append(city) 
            
            #grabbing job title
            for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
                job_post.append(a["title"]) 
                
            #grabbing company name
            company = div.find_all(name="span", attrs={"class":"company"}) 
            if len(company) > 0: 
                for b in company:
                    job_post.append(b.text.strip()) 
            else: 
                sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
                for span in sec_try:
                    job_post.append(span.text)
                    
            #grabbing location name
            c = div.findAll('span', attrs={'class': 'location'}) 
            for span in c: 
                job_post.append(span.text) 

            #appending list of job post info to dataframe at index num
        
            sample_df.loc[num] = job_post

#saving sample_df as a local csv file â€” define your own local path to save contents 
sample_df.to_csv("job_listings.csv", encoding='utf-8')

C:\Users\PankajR\anaconda3\lib\site-packages\bs4\__init__.py:203: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [19]:
sample_df

,city,job_title,company_name,location
1,New+York,Data Scientist,Albert Einstein College of Medicine,"Bronx, NY 10461 (Parkchester area)"
2,New+York,Data Scientist,Source Enterprises,"New York, NY 10036 (Midtown area)"
3,New+York,Data Scientist,Risk Solutions,"New York, NY 10169 (Midtown area)"
4,New+York,Data Scientist,Caden,"New York, NY 10013 (Tribeca area)"
5,New+York,Research Scientist-Center for Data Science,New York University,"New York, NY"
6,New+York,Junior Data Scientist,Decode_M,"New York, NY"
7,New+York,"People Data Scientist, People Analytics",Uber,"New York, NY"
8,New+York,"Data Scientist, Podcasts",Spotify,"New York, NY"
9,New+York,Research Data Scientist,Barclays,"New York, NY 10020 (Midtown area)"
10,New+York,Senior Data Scientist,Corning,"Corning, NY 14831"
11,New+York,"Data Scientist, Messaging",Spotify,"New York, NY"
12,New+York,"Data Scientist, Spotify for Artists",Spotify,"New York, NY"
13,New+York,Jr. Data Scientist,Kubient,"New York, NY"
14,New+York,Data Scientist,Reonomy,"New York, NY 10017 (Turtle Bay area)"
15,New+York,Data Scientist,DMGT,"New York, NY"
16,Chicago,Data Scientist,GAINSystems,"Chicago, IL 60622 (Wicker Park area)"
17,Chicago,Data Scientist,Waystar,"Chicago, IL"
18,Chicago,Data Scientist,The University of Chicago,"Chicago, IL"
19,Chicago,Data Scientist,Enova International,"Chicago, IL"
20,Chicago,Venmo Risk Data Scientist,PayPal,"Chicago, IL 60654 (Loop area)"
21,Chicago,Data Scientist / Analyst (Remote),Avant,"Chicago, IL"
22,Chicago,Data Scientist,Eleks,"Chicago, IL"
23,Chicago,Associate Data Scientist - Provider & Network,"Blue Cross Blue Shield of IL, MT, NM, OK & TX","Chicago, IL"
24,Chicago,Data Scientist - Remote,FNA,"Chicago, IL"
25,Chicago,Data Scientist,Rewards Network,"Chicago, IL 60606 (West Loop Gate area)"
26,Chicago,Data Scientist,Walker & Dunlop,"Chicago, IL 60606 (The Loop area)"
27,Chicago,Data Scientist,WiTronix,"Bolingbrook, IL 60440"
28,Chicago,Data Scientist (Experimentation),"Grubhub Holdings, Inc.","Chicago, IL 60602 (The Loop area)"
29,Chicago,Data Science Consultant,Accenture,"Chicago, IL"
30,Chicago,Senior Data Scientist,The University of Chicago,"Chicago, IL 60637 (Woodlawn area)"
31,Austin,Data Scientist,YETI Coolers,"Austin, TX"
32,Austin,Data Scientist,CDK Global,"Austin, TX 78730"
33,Austin,Data Scientist,IBM,"Austin, TX 73301 (St Edwards area)"
34,Austin,Senior Data Scientist,Bumble,"Austin, TX"
35,Austin,Data Scientist,ANALYTOS,"Austin, TX"
36,Austin,Senior Data Scientist,Splunk,"Austin, TX 73301 (St Edwards area)"
37,Austin,"Data Scientist, Analytics",Facebook,"Austin, TX"
38,Austin,"Data Scientist, Auction Expert",Facebook,"Austin, TX"
39,Austin,Data Scientist 2,PayPal,"Austin, TX 78729"
40,Austin,Process Data Analyst,dentsu,"Austin, TX 78701 (Downtown area)"
41,Austin,Data Science Resident,Galvanize Inc.,"Austin, TX 78701 (Downtown area)"
42,Austin,Senior Data Scientist,One Drop,"Austin, TX"
43,Austin,"Senior Product Data Scientist, Cash App",Cash App,"Austin, TX"
44,Austin,Senior Data Scientist,eBay Inc.,"Austin, TX"
45,Austin,"Data Scientist, Product Analytics",Facebook,"Austin, TX"
46,Seattle,Data Scientist,Microsoft,"Redmond, WA 98052 (Overlake area)"
47,Seattle,"Data Scientist, Junior",Booz Allen Hamilton,"Seattle, WA 98101 (Denny Triangle area)"
48,Seattle,Data Scientists,Ars Quanta,"Seattle, WA"
49,Seattle,Data & Applied Scientist,Microsoft,"Bellevue, WA"
50,Seattle,"Data Scientist, Analytics",Facebook,"Seattle, WA 98109 (South Lake Union area)"
51,Seattle,Data Scientist,Electronic Arts,"Seattle, WA"
52,Seattle,Data Scientist,Criteo,"Seattle, WA 98109 (Westlake area)"
53,Seattle,Staff Data Scientist,The Walt Disney Company (Corporate),"Seattle, WA"
54,Seattle,Security Data Scientist,Microsoft,"Redmond, WA 98052 (Overlake area)"
55,Seattle,Data Scientist â€“ Societal Resilience â€“ Microso...,Microsoft,"Redmond, WA 98052 (Overlake area)"
56,Seattle,Data Analyst 2,Nordstrom,"Seattle, WA"
57,Seattle,Data Scientist 1,eBay Inc.,"Bellevue, WA (Downtown area)"
58,Seattle,Senior Data Scientist,Microsoft,"Redmond, WA 98052 (Overlake area)"
59,Seattle,Data Science Resident,Galvanize Inc.,"Seattle, WA 98104"
60,Seattle,Data Scientist,Harman International,"Redmond, WA"